<div class="selected-products">
  <div class="selected-products__item" ng-repeat="index in ::vm.indexes track by $index">
    <div ng-if="vm.products[index]">
      <div ng-if="vm.products[index].img">
        <img class="selected-products__image" ng-src="/images/{{vm.products[index].img}}" alt="vm.products[index].description"/>
      </div>
      <div ng-if="!vm.products[index].img">
        <img class="selected-products__image" src="<%= image_url 'jelly_alone.png' %>" alt="Jellyfish Logo"/>
      </div>
      <a href="#" title="Remove" class="selected-products__remove" ng-click="vm.remove(vm.products[index])">
        <%= image_tag 'ic_closecompare.png', alt: 'Close' %>
      </a>
    </div>
  </div>
</div>
<button type="button" class="btn-rounded btn btn-primary text-uppercase"
        ng-click="vm.showModal()"
        ng-disabled="vm.disabled()">
  Compare
</button>
